<h1>Stupid Coaching</h1>
<div class="card">
  <p><%= @user %></p> <br>
  <p>- You</p>
</div>
<br>
<div class="card" id="coach">
  <p><%= @answer %></p> <br>
  <p>- Your coach</p>
</div>
<%= link_to 'Ask another question', ask_path, class: "back" %>
