// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

.banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}

.back {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  margin-top: 32px !important;
}

p {
  font-family: sans-serif;
  margin: 0 auto;
  margin-bottom: 8px !important;
}

.card {
  background-color: white;
  width: 400px;
  border-left: 3px solid gray;
  padding: 4px;
  margin-bottom: 16px;
}

#coach {
  background-color: #FFFEE1;
}
